* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 70vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h1 {
    color: rgb(87, 87, 87);
    font-size: 3rem;
  }
}

.container {
  height: 20em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  #value {
    color: green;
    font-size: 6rem;
  }
  .button-container {
    .btn {
      background-color: transparent;
      border: 2px solid gray;
      border-radius: 6px;
      margin: 0.5em;
      padding: 0.6em;
      text-transform: uppercase;
      letter-spacing: 0.15rem;
      &:hover {
        background-color: gray;
        cursor: pointer;
      }
    }
  }
}
